:root {
    --md-primary-fg-color: #f29924;
    --md-primary-fg-color--light: #fca32e;
    --md-primary-fg-color--dark: #e88f1a;
}

.md-content h2 {
    border-bottom: var(--md-primary-fg-color) 2px;
    border-bottom-style: double;
}

.md-content h3 {
    border-bottom: gray 1px;
    border-bottom-style: dashed;
}